@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Fira Code', monospace;
}

@layer utilities {

    /* common utilities */

    .section {
        @apply flex items-center justify-center w-full h-[89.7vh] lg:h-[89vh] bg-[#011627]
    }

    .nested-nav {
        @apply block py-2.5 px-5 m-0 text-center
    }

    .nested-nav-active {
        @apply block py-2.5 px-5 m-0 text-center border-b-1 border-b-[#fea55f] font-bold text-white
    }

    /* navigation bar */

    .nav-style {
        @apply bg-[#111827] text-emerald-400 px-4 lg:pl-5 lg:pr-0 lg:py-0 flex items-center justify-between sticky top-0 z-50 border-b-zinc-700 border-b-2
    }

    .desk-nav {
        @apply block py-2.5 px-5 m-0 border-l-2 border-l-zinc-800
    }

    .desk-nav-active {
        @apply block py-2.5 px-5 m-0 border-l-2 border-l-zinc-800 border-b-1 border-b-[#fea55f] font-bold text-white
    }

    .mob-nav {
        @apply block w-max py-1.5 lg:py-2
    }

    .mob-nav-active {
        @apply block w-max py-1.5 lg:py-2 border-b-1 border-b-[#fea55f] font-bold text-white
    }

    /*  home page */
    /* about */

    .education-section {
        @apply flex p-8 h-[83vh] bg-[#011627]
    }

    .experience-section {
        @apply flex p-8 h-[83vh] bg-[#011627]
    }

    /* projects */
    /* contact */

    /* footer */

    .footer-style {
        @apply bg-black text-emerald-400 px-4 lg:px-5 flex justify-between items-center border-t-zinc-700 border-t-2
    }

    .bordered-tab {
        @apply border-r-2 border-r-zinc-600 py-2 m-0 pr-2
    }
}