@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    font-family: 'Fira Code', serif;
    width: 100%;
    height: 100vh;
}

.nav-active {
    border-bottom: 2px solid #fea55f;
    color: #fea55f;
    font-weight: bold;
}